@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@700 & display=swap');

@import url('https://fonts.googleapis.com/css2? família= Pobre+História & display=swap');

:root {
    --cor0: #dda673cd;
    --cor1: #D5C1AE;
    --cor2: #A39486;
    --cor3: #57412D;
    --cor4: #574F47;
    --cor5: #070707;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Pobre história', cursiva;
	--fonte-geral: 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

body {
	background-color: var(--cor1);
}

header {
	background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding: 40px;
	box-shadow:-2px 5px 15px 3px rgb(0 0 0 / 24%);
	border-bottom: 3px solid var(--cor0);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu li a {
	display: block;
    margin-right: 50px;
    text-transform: uppercase;
    color: var(--cor1);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.menu a:hover {
    color: #ffffff;
    text-decoration: underline;
    font-size: 19px;
    background-color: #d5c1ae24;
}

/* cabeçalho até aqui */

.area {
    font-family: var(--fonte-destaque);
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    padding: 30px 0;
}

.servicos {
    width: 940px;   
    margin: 0 auto;
    padding: 50px 0;
}

.servicos li {
    display: inline-block;
    background-color: rgba(226, 218, 218, 0.537);
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.servicos li:hover {
    border-color: #ffffff;

}

.servicos li:hover h2 {
    font-size: 35px;
}

.servicos li:active {
    border-color: #088c19;
}

.servicos h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 50px;

}

.info {
    font-size: 18px;
    padding: 25px 0;

}

.clique-aqui {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

/* footer a partir daqio */

footer {
    background: url(bg.jpg);
    line-height: 1.5em;
}

.copyright {
    color: #ffffff;
	text-align: center;
    font-size: 13px;
    margin: 0 0 0;
	font-style: italic;
}


