@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@700 & display=swap');

@import url('https://fonts.googleapis.com/css2? família= Pobre+História & display=swap');

:root {
    --cor0: #dda673cd;
    --cor1: #D5C1AE;
    --cor2: #A39486;
    --cor3: #57412D;
    --cor4: #574F47;
    --cor5: #070707;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Pobre história', cursiva;
	--fonte-geral: 'Times New Roman', Times, serif;
    
}

* {
	margin: 0px;
    padding: 0px;
}

body {
	background-color: var(--cor1);
}

header {
	background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-width: 150px;
    padding: 40px;
	box-shadow:-2px 5px 15px 3px rgb(0 0 0 / 24%);
	border-bottom: 3px solid var(--cor1)
	
}

nav {
	position: absolute;
    top: 110px;
    right: 40px;
	
}

nav a {
	display: inline;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #d5c1ae;
    text-decoration: underline;
}

/* cabeçalho até aqui */

main {
	font-family: var(--fonte-padrao);
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.406);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	

}

main h1 {
    color: var(--cor5);
	font-family: var(--fonte-destaque);
    text-align: center;
}

main h2 {
    color: var(--cor5);
	font-family: var(--fonte-destaque);
    text-align: center;
}

main h3 {
	color: var(--cor5);
	font-family: var(--fonte-destaque);
	text-align: center;
}

p {
	margin: 15px 0px;
	text-align: justify;
	text-indent: 30px;
	text-indent: 30px;
    font-size: 1em;
;
    line-height: 2em;

}


footer {
    text-align: center;
    padding: 10px;
    background: url(bg.jpg);
}
.copyright {
    color: #ffffff;
	text-align: center;
    font-size: 13px;
    margin: 0 0 0;
	font-style: italic;
}


/*
.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 1em 0 1em;
}

.principal p {
	margin: 0 0 1em;
	text-align: center;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
	
}

em strong {
	color: #FF0000;
}

.principal strong {
	font-weight: bold;
	text-align: center;
}

.principal em {
	font-style: italic;
	text-align: center;
}

.itens {
	text-align: center;
	font-style: italic;
	font-size: 18px;
	padding: 1px;
	margin: auto;
}

#missao {
	font-size: 25px;
	text-align: center;
	padding: 10px 10px;

}

aside p {
	margin: 0 0 1em;
	text-align: center;
}

footer {
    text-align: center;
    padding: 50px;
    background: url(bg.jpg);
}
.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
	font-style: italic;
}
/*body {
	margin: o 15px 0 15px;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

h1 {
    margin: 0 0 0 80px;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	font-weight: bold;
	padding: 1em;
}

.principal p {
	margin: 0 0 1em;
	padding: 0 30px 40px 30px;
}



p { 
	text-align: center;
	padding: 0 10px 30px 10px;
	font-size: 20px;	
}

.itens {
	font-style: italic;
	font-size: 18px;
	padding: 4px;
}

.beneficios {
	
	padding: 20px;
}

.it {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

